* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 1);
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* No centrar verticalmente */
    align-items: center; /* Centrado horizontalmente */
    position: relative;
}

.header {
    width: 100vw; /* Asegura que ocupe todo el ancho */
    height: 50vh; /* Altura del header */
    background-color: rgba(208, 162, 242, 1);
    border-bottom-left-radius: 4000px;
    border-bottom-right-radius: 4000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.logo {
    width: 40vw;
    height: 40vw;
    background: url('./assets/v8_3.png') no-repeat center center;
    background-size: contain;
    margin-bottom: 20px;
}

.title {
    color: rgba(64, 17, 99, 1);
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
}

.button-container {
    width: 100%; /* Mantiene el contenedor a todo el ancho */
    display: flex;
    flex-direction: column;
    align-items: center; /* Asegura que los botones estén centrados horizontalmente */
    margin-top: 55vh; /* Ajusta este valor si es necesario */
}

.button {
    width: 80%; /* Los botones ocuparán el 80% del ancho del contenedor */
    max-width: 306px; /* Ancho máximo para los botones */
    height: 60px;
    background-color: rgba(165, 115, 202, 1);
    color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center; /* Centra el texto dentro del botón */
    align-items: center;
    font-size: 20px;
    font-weight: medium;
    margin: 20px 0; /* Espacio entre los botones */
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(145, 95, 182, 1);
}

/* Estilos para pantallas medianas y grandes */
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }

    .header {
        height: 60vh;
    }

    .logo {
        width: 25vw;
        height: 25vw;
    }

    .title {
        font-size: 5vw;
    }

    .button {
        width: 250px; /* Mantiene un ancho fijo en pantallas más grandes */
        height: 60px;
        font-size: 22px;
        margin-top: 40px;
    }
}

/* Pantallas grandes (1440px o más) */
@media (min-width: 1440px) {
    .header {
        height: 60vh;
        border-bottom-left-radius: 2000px;
        border-bottom-right-radius: 2000px;
    }

    .logo {
        width: 20vw;
        height: 20vw;
    }

    .title {
        font-size: 4vw;
    }

    .button-container {
        margin-top: 60vh; /* Mantén los botones bien posicionados debajo del header */
    }
}
